@import "../../Styles/_themes.scss";

.SearchBar {
  background-color: $glaucous;
  margin: 1rem;
  padding: 1rem;

  .SearchBar_holder {
    padding: 0.5rem;

    .SearchBar_input {
      margin: 0.5rem;
    }
  }
}
